<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <strong style="color: #606060; font-size: 40px;">&lt;RJDevs /&gt;</strong>
        </div>
  
        <div class="text-center" style="margin-top: 20px;">Developed by: Richelle Xavier</div>

        <div class="text-center" style="margin-top: 20px;">
          <a href="https://rjdevs.com" target="_blank">RJDevs</a>
          <p>© 2022 RJDevs</p>
        </div>
      </div>
    </div> 
  </div>